In [1]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv
import warnings 
warnings.filterwarnings('ignore')

In [2]:
load_dotenv()
user            = os.environ['usr']
password        = os.environ['pas']
host            = os.environ['hos']
port            = os.environ['por']
datascience     = os.environ['ds']

# Connect to Database

mydb = create_engine("mysql+pymysql://{usr}:{pasx}@{hosx}:{port}/{namadb}".format(
                            usr=user, pasx=password, hosx=host, port=port, namadb=datascience))

In [3]:
df = pd.read_sql("select * from movie_data2 order by movie_data2.vote_count desc limit 10000", mydb)
df.head()

,movie_id,movie_name,genre,release_year,language,keyword,collection,company,overview,movie_poster_path,runtime,budget,revenue,popularity,vote_average,vote_count
0,27205,Inception,"Action,Science Fiction,Adventure",2010,,"paris, france,spy,philosophy,allegory,dream,ki...",,"Legendary Pictures,Warner Bros. Pictures,Syncopy","Cobb, a skilled thief who commits corporate es...",/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg,148,160000000,825532764,38.934,8.3,27342
1,157336,Interstellar,"Adventure,Drama,Science Fiction",2014,,"artificial intelligence,nasa,spacecraft,expedi...",,"Legendary Pictures,Syncopy,Lynda Obst Productions",The adventures of a group of explorers who mak...,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,169,165000000,675120017,68.430,8.3,23917
2,293660,Deadpool,"Action,Adventure,Comedy",2016,,"anti hero,mercenary,superhero,based on comic,b...",Deadpool Collection,"TSG Entertainment,20th Century Fox,Marvel Ente...",Deadpool tells the origin story of former Spec...,/yGSxMiF0cYuAiyuve5DA6bnWEOI.jpg,108,58000000,783100000,74.253,7.6,23690
3,155,The Dark Knight,"Drama,Action,Crime,Thriller",2008,,"dc comics,crime fighter,secret identity,scarec...",The Dark Knight Collection,"Legendary Pictures,Warner Bros. Pictures,DC En...",Batman raises the stakes in his war on crime. ...,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,152,185000000,1004558444,65.354,8.5,23458
4,24428,The Avengers,"Science Fiction,Action,Adventure",2012,,"new york city,shield,superhero,based on comic,...",The Avengers Collection,"Paramount,Marvel Studios",When an unexpected enemy emerges and threatens...,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,143,220000000,1519557910,87.140,7.7,23276

In [4]:
# Convert atribut from string to list
df['collection'] = df['collection'].apply(lambda x:x.split(maxsplit=0))
df['genre'] = df['genre'].apply(lambda x:x.split())
df['keyword'] = df['keyword'].apply(lambda x:x.split(","))
df['company'] = df['company'].apply(lambda x:x.split(","))
df['overview'] = df['overview'].apply(lambda x:x.split())

In [5]:
# Remove white spaces 
df['genre'] = df['genre'].apply(lambda x:[i.replace(" ","") for i in x])
df['keyword'] = df['keyword'].apply(lambda x:[i.replace(" ","") for i in x])
df['collection'] = df['collection'].apply(lambda x:[i.replace(" ","") for i in x])
df['company'] = df['company'].apply(lambda x:[i.replace(" ","") for i in x])

In [6]:
df.head()

,movie_id,movie_name,genre,release_year,language,keyword,collection,company,overview,movie_poster_path,runtime,budget,revenue,popularity,vote_average,vote_count
0,27205,Inception,"[Action,Science, Fiction,Adventure]",2010,,"[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo...",/9gk7adHYeDvHkCSEqAvQNLV5Uge.jpg,148,160000000,825532764,38.934,8.3,27342
1,157336,Interstellar,"[Adventure,Drama,Science, Fiction]",2014,,"[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,...",/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,169,165000000,675120017,68.430,8.3,23917
2,293660,Deadpool,"[Action,Adventure,Comedy]",2016,,"[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form...",/yGSxMiF0cYuAiyuve5DA6bnWEOI.jpg,108,58000000,783100000,74.253,7.6,23690
3,155,The Dark Knight,"[Drama,Action,Crime,Thriller]",2008,,"[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on...",/qJ2tW6WMUDux911r6m7haRef0WH.jpg,152,185000000,1004558444,65.354,8.5,23458
4,24428,The Avengers,"[Science, Fiction,Action,Adventure]",2012,,"[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th...",/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,143,220000000,1519557910,87.140,7.7,23276

In [7]:
movie = df.drop(columns=['release_year', 'language', 'movie_poster_path', 'runtime', 'budget', 'revenue', 'popularity', 'vote_average', 'vote_count'])
movie.head()

,movie_id,movie_name,genre,keyword,collection,company,overview
0,27205,Inception,"[Action,Science, Fiction,Adventure]","[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo..."
1,157336,Interstellar,"[Adventure,Drama,Science, Fiction]","[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,..."
2,293660,Deadpool,"[Action,Adventure,Comedy]","[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form..."
3,155,The Dark Knight,"[Drama,Action,Crime,Thriller]","[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on..."
4,24428,The Avengers,"[Science, Fiction,Action,Adventure]","[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th..."

In [8]:
movie['title'] = movie['movie_name']
movie.head()

,movie_id,movie_name,genre,keyword,collection,company,overview,title
0,27205,Inception,"[Action,Science, Fiction,Adventure]","[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo...",Inception
1,157336,Interstellar,"[Adventure,Drama,Science, Fiction]","[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,...",Interstellar
2,293660,Deadpool,"[Action,Adventure,Comedy]","[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form...",Deadpool
3,155,The Dark Knight,"[Drama,Action,Crime,Thriller]","[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on...",The Dark Knight
4,24428,The Avengers,"[Science, Fiction,Action,Adventure]","[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th...",The Avengers

In [9]:
movie = movie.iloc[:,[0,7,1,2,3,4,5,6]]
movie.head()

,movie_id,title,movie_name,genre,keyword,collection,company,overview
0,27205,Inception,Inception,"[Action,Science, Fiction,Adventure]","[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo..."
1,157336,Interstellar,Interstellar,"[Adventure,Drama,Science, Fiction]","[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,..."
2,293660,Deadpool,Deadpool,"[Action,Adventure,Comedy]","[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form..."
3,155,The Dark Knight,The Dark Knight,"[Drama,Action,Crime,Thriller]","[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on..."
4,24428,The Avengers,The Avengers,"[Science, Fiction,Action,Adventure]","[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th..."

In [10]:
# Convert string to list
movie['movie_name'] = movie['movie_name'].apply(lambda x:x.split(maxsplit=0))

# Convert white space
movie['movie_name'] = movie['movie_name'].apply(lambda x:[i.replace(" ","") for i in x])

In [11]:
movie.head()

,movie_id,title,movie_name,genre,keyword,collection,company,overview
0,27205,Inception,[Inception],"[Action,Science, Fiction,Adventure]","[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo..."
1,157336,Interstellar,[Interstellar],"[Adventure,Drama,Science, Fiction]","[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,..."
2,293660,Deadpool,[Deadpool],"[Action,Adventure,Comedy]","[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form..."
3,155,The Dark Knight,[TheDarkKnight],"[Drama,Action,Crime,Thriller]","[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on..."
4,24428,The Avengers,[TheAvengers],"[Science, Fiction,Action,Adventure]","[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th..."

In [12]:
new_df = movie.copy()

# Concatenating the columns into one columns

In [13]:
new_df['tags'] = new_df['movie_name'] + new_df['genre'] + new_df['keyword'] + new_df['collection'] + new_df['company']
new_df.head()

,movie_id,title,movie_name,genre,keyword,collection,company,overview,tags
0,27205,Inception,[Inception],"[Action,Science, Fiction,Adventure]","[paris, france, spy, philosophy, allegory, dre...",[],"[LegendaryPictures, WarnerBros.Pictures, Syncopy]","[Cobb,, a, skilled, thief, who, commits, corpo...","[Inception, Action,Science, Fiction,Adventure,..."
1,157336,Interstellar,[Interstellar],"[Adventure,Drama,Science, Fiction]","[artificialintelligence, nasa, spacecraft, exp...",[],"[LegendaryPictures, Syncopy, LyndaObstProducti...","[The, adventures, of, a, group, of, explorers,...","[Interstellar, Adventure,Drama,Science, Fictio..."
2,293660,Deadpool,[Deadpool],"[Action,Adventure,Comedy]","[antihero, mercenary, superhero, basedoncomic,...",[DeadpoolCollection],"[TSGEntertainment, 20thCenturyFox, MarvelEnter...","[Deadpool, tells, the, origin, story, of, form...","[Deadpool, Action,Adventure,Comedy, antihero, ..."
3,155,The Dark Knight,[TheDarkKnight],"[Drama,Action,Crime,Thriller]","[dccomics, crimefighter, secretidentity, scare...",[TheDarkKnightCollection],"[LegendaryPictures, WarnerBros.Pictures, DCEnt...","[Batman, raises, the, stakes, in, his, war, on...","[TheDarkKnight, Drama,Action,Crime,Thriller, d..."
4,24428,The Avengers,[TheAvengers],"[Science, Fiction,Action,Adventure]","[newyorkcity, shield, superhero, basedoncomic,...",[TheAvengersCollection],"[Paramount, MarvelStudios]","[When, an, unexpected, enemy, emerges, and, th...","[TheAvengers, Science, Fiction,Action,Adventur..."

In [14]:
new_df = new_df.drop(columns=['movie_name', 'genre', 'keyword', 'collection', 'company', 'overview'])
new_df.head()

,movie_id,title,tags
0,27205,Inception,"[Inception, Action,Science, Fiction,Adventure,..."
1,157336,Interstellar,"[Interstellar, Adventure,Drama,Science, Fictio..."
2,293660,Deadpool,"[Deadpool, Action,Adventure,Comedy, antihero, ..."
3,155,The Dark Knight,"[TheDarkKnight, Drama,Action,Crime,Thriller, d..."
4,24428,The Avengers,"[TheAvengers, Science, Fiction,Action,Adventur..."

In [15]:
# Convert list to string, make it to paragraph
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))

In [16]:
# Convert tags into lower case alphabets
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df['tags'][0]

'inception action,science fiction,adventure paris france spy philosophy allegory dream kidnapping manipulation airplane virtualreality carcrash rescue mission memory architecture losangeles california dreamworld subconscious legendarypictures warnerbros.pictures syncopy'

# Vectorization

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [18]:
tfidf = TfidfVectorizer(stop_words='english')

In [19]:
vector = tfidf.fit_transform(new_df['tags']).toarray()
vector

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
vector.shape

(10000, 34040)

# Convert tags with nltk

In [21]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [22]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [23]:
new_df['tags'] = new_df['tags'].apply(stem)

In [24]:
new_df['tags']

0       incept action,sci fiction,adventur pari franc ...
1       interstellar adventure,drama,sci fiction artif...
2       deadpool action,adventure,comedi antihero merc...
3       thedarkknight drama,action,crime,thril dccomic...
4       theaveng scienc fiction,action,adventur newyor...
                              ...
9995    animalfactori crime,drama guitar jailguard str...
9996    badgirl romance,western blond reveng wildwest ...
9997    2036originunknown scienc fiction artificialint...
9998    luce drama,thril neon dreamfactorygroup altona...
9999    thewhitecrow drama kgb balletdanc biographi ma...
Name: tags, Length: 10000, dtype: object

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
similarity = cosine_similarity(vector)
similarity.shape

(10000, 10000)

# Find Movie Index that we search

In [35]:
movie_index = new_df[new_df['title']=='The Maze Runner'].index[0]
movie_index

80

# Find Distances the movie to other movie using similarity for movie_index

In [36]:
distances = similarity[movie_index]
distances

array([0.02622819, 0.03663809, 0.07111598, ..., 0.02520502, 0.00856818,
       0.        ])

In [59]:
movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[0:6]
movies_list

[(80, 1.0),
 (274, 0.47428670720945076),
 (485, 0.37538036167012556),
 (2127, 0.21072001669125723),
 (4072, 0.20827729258802774),
 (550, 0.20755641747501893)]

In [60]:
for i in movies_list:
        print(new_df.iloc[i[0]].title)

The Maze Runner
Maze Runner: The Scorch Trials
Maze Runner: The Death Cure
The Hate U Give
How I Live Now
Warm Bodies

In [63]:
def recommend(movie):

    # Find the index of the movies
    movie_index = new_df[new_df['title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[0:6]

    # Fetch movies from indeces
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

    return

In [64]:
recommend("The Maze Runner")

The Maze Runner
Maze Runner: The Scorch Trials
Maze Runner: The Death Cure
The Hate U Give
How I Live Now
Warm Bodies

In [65]:
recommend("Warm Bodies")

Warm Bodies
How I Live Now
Zombie Apocalypse
Freejack
The Host
Maggie

In [29]:
import pickle

Here, we have dumped our dictionary of new dataframe for the movies list. (This is because pandas don’t allow pickling the dataframe, hence it is necessary to convert it into a dictionary here)

In [30]:
pickle.dump(new_df.to_dict(), open('movies.pkl', 'wb'))

In [31]:
pickle.dump(similarity, open('similarity.pkl', 'wb'))